{% extends "base.html" %}

{% block title %}An Error has Occurred{% endblock %}
{% block content %}
<h3 class="center-text">We're sorry! An error has occurred!</h3>
<p class="center-text">The Heart Health team has been notified of the problem and should be fixing it shortly! In the mean time feel free to try again or <a href="mailto:support@hearthealth.com">Contact Us Directly</a></p> 
<p class="center-text"><a href="/">Click here</a> to head back to the homepage.</p>
{% endblock %}

{% block jsinclude %}
{% endblock %}
