{% extends "base.html" %}

{% block title %}Heart Health{% endblock %}
{% block content %}
<div class="span2 hidden-phone"> </div>
<div class="span8">
<h3 class="center-text">Some Simple Questions </h3>
    <div class="span8 centered-span centered-form-stretch-not-button">
        <form>
            <div id="age-group" class="control-group"> 
                <p>Welcome! Let's get started. Here's an easy one:</>
                <label>Please Enter Your Age</label>
                <input type="text">
                <span class="help-inline hidden">Valid ages are from 18 to 130.</span>
                </label>
            </div>
            <div id="gender-group" class="control-group hidden"> 
                <label>Please Select Your Gender</label>
                <select>
                    <option name="Male" value="male">Male</option>
                    <option name="Female" value="female">Female</option>
                </select>
                </label>
            </div>
            <div id="height-group" class="control-group hidden"> 
                <label>Please Enter Your Height in Inches</label>
                <input type="text">
                <span class="help-inline hidden">Height must be between 44 and 87 inches.</span>
                </label>
            </div>
            <div id="weight-group" class="control-group hidden"> 
                <label>Please Enter Your Weight in Pounds</label>
                <input type="text">
                <span class="help-inline hidden">Weight must be between 80 and 600 pounds.</span>
                </label>
            </div>
            <div id="smoke-group" class="control-group hidden"> 
                <label>Do You Currently Smoke?</label>
                <select>
                    <option name="Yes" value="true">Yes</option>
                    <option name="No" value="false" selected="true">No</option>
                </select>
                <span class="help-block">Answer yes if you have smoked any cigarettes in the past month.</span>
                </label>
            </div>
            <div id="heart-attack-group" class="control-group hidden"> 
                <label>Has a Doctor Ever Told You That You Had a Heart Attack?</label>
                <select>
                    <option name="Yes" value="true">Yes</option>
                    <option name="No" value="false" selected="true">No</option>
                </select>
                <span class="help-block">A heart attack is sometimes called a myocardial infarction or MI.</span>
                </label>
            </div>
            <div id="stroke-group" class="control-group hidden"> 
                <label>Has a Doctor Ever Told You That You Had a Stroke?</label>
                <select>
                    <option name="Yes" value="true">Yes</option>
                    <option name="No" value="false" selected="true">No</option>
                </select>
                </label>
            </div>
            <div id="diabetes-group" class="control-group hidden"> 
                <label>Has a Doctor Ever Told You That You Have Diabetes?</label>
                <select>
                    <option name="Yes" value="true">Yes</option>
                    <option name="No" value="false" selected="true">No</option>
                </select>
                <span class="help-block">Answer yes if you have diabetes mellitus type I or type II.</span>
                </label>
            </div>
            <div id="wizard-both-buttons" class="row-fluid margin-top-15 wizard-button-group">
                <button class="btn btn-large btn-danger span3 button-space-after" onclick="wizard.showPreviousStep()" type="button">Previous</button>
                <button class="btn btn-large btn-danger span3" onclick="wizard.showNextStep()" type="button">Next</button>
            </div>
            <div id="wizard-next-only" class="hidden margin-top-15 wizard-button-group">
                <button class="btn btn-large btn-block btn-danger span3" type="button" onclick="wizard.showNextStep()">Next</button>
            </div>
            <div id="wizard-submit-group" class="hidden row-fluid margin-top-15 wizard-button-group">
                <button class="btn btn-large btn-danger span3" type="button" onclick="wizard.showPreviousStep()">Previous</button>
                <button class="btn btn-large btn-danger span6" type="submit">Assess Your Risk</button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}

{% block jsinclude %}
<script src="{{ STATIC_URL }}js/begin.js"></script>
{% endblock %}
