<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<head>
	  <meta charset="utf-8">
	  <title>Heart Health</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="">
	  <meta name="author" content="">

	  <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet">
	  <link href="{{ STATIC_URL }}css/custom.css" type="text/css" rel="stylesheet">

	  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	  <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

	  <!-- Le fav and touch icons -->
	  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico?v=2" />
	</head>

	<body>
	  	
	  <div class="container-fluid">
	 	<div class="row-fluid">
            <div class="span2 hidden-phone"> </div>
			<header class="span8">
                <div class="row-fluid">
                    <img class="title-heart-image" src="{{ STATIC_URL }}img/heart-pulse-100.png"/>
                    <h1>Health</h1>
                </div>
                <p class="lead"> Interactive Risk Assesment for Heart Attacks and Strokes </p>
			</header>
		</div>
		<div class="row-fluid">
          <div class="span2 hidden-phone"> </div>
		  <div class="well well-large span8">
           <div class="span2 hidden-phone"> </div>
           <div class="span8 margin-top-15">
                <form>
                    <legend>Some Simple Questions</legend>
                    <div id="age-group" class="control-group"> 
                        <h4>Welcome! Let's get started. Here's an easy one:</h4>
                        <label>Please Enter Your Age</label>
                        <input type="text">
                        <span class="help-inline hidden">Valid ages are from 18 to 130.</span>
                        </label>
                    </div>
                    <div id="gender-group" class="control-group hidden"> 
                        <label>Please Select Your Gender</label>
                        <select>
                            <option name="Male" value="male">Male</option>
                            <option name="Female" value="female">Female</option>
                        </select>
                        </label>
                    </div>
                    <div id="height-group" class="control-group hidden"> 
                        <label>Please Enter Your Height in Inches</label>
                        <input type="text">
                        <span class="help-inline hidden">Height must be between 44 and 87 inches.</span>
                        </label>
                    </div>
                    <div id="weight-group" class="control-group hidden"> 
                        <label>Please Enter Your Weight in Pounds</label>
                        <input type="text">
                        <span class="help-inline hidden">Weight must be between 80 and 600 pounds.</span>
                        </label>
                    </div>
                    <div id="smoke-group" class="control-group hidden"> 
                        <label>Do You Currently Smoke?</label>
                        <select>
                            <option name="Yes" value="true">Yes</option>
                            <option name="No" value="false" selected="true">No</option>
                        </select>
                        <span class="help-block">Answer yes if you have smoked any cigarettes in the past month.</span>
                        </label>
                    </div>
                    <div id="heart-attack-group" class="control-group hidden"> 
                        <label>Has a Doctor Ever Told You That You Had a Heart Attack?</label>
                        <select>
                            <option name="Yes" value="true">Yes</option>
                            <option name="No" value="false" selected="true">No</option>
                        </select>
                        <span class="help-block">A heart attack is sometimes called a myocardial infarction or MI.</span>
                        </label>
                    </div>
                    <div id="stroke-group" class="control-group hidden"> 
                        <label>Has a Doctor Ever Told You That You Had a Stroke?</label>
                        <select>
                            <option name="Yes" value="true">Yes</option>
                            <option name="No" value="false" selected="true">No</option>
                        </select>
                        </label>
                    </div>
                    <div id="diabetes-group" class="control-group hidden"> 
                        <label>Has a Doctor Ever Told You That You Have Diabetes?</label>
                        <select>
                            <option name="Yes" value="true">Yes</option>
                            <option name="No" value="false" selected="true">No</option>
                        </select>
                        <span class="help-block">Answer yes if you have diabetes mellitus type I or type II.</span>
                        </label>
                    </div>
                    <div id="wizard-both-buttons" class="row-fluid margin-top-15 wizard-button-group">
                        <button class="btn btn-large btn-danger span3 button-space-after" onclick="wizard.showPreviousStep()" type="button">Previous</button>
                        <button class="btn btn-large btn-danger span3" onclick="wizard.showNextStep()" type="button">Next</button>
                    </div>
                    <div id="wizard-next-only" class="hidden margin-top-15 wizard-button-group">
                        <button class="btn btn-large btn-block btn-danger span3" type="button" onclick="wizard.showNextStep()">Next</button>
                    </div>
                    <div id="wizard-submit-group" class="hidden row-fluid margin-top-15 wizard-button-group">
                        <button class="btn btn-large btn-danger span3" type="button" onclick="wizard.showPreviousStep()">Previous</button>
                        <button class="btn btn-large btn-danger span4" type="submit">Assess Your Risk</button>
                    </div>

                </form>
            </div>
		  </div>
		</div>




	  </div> <!-- /container -->

	  <!-- Le javascript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="{{ STATIC_URL }}js/jquery-1.8.0.js"></script>
	  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	  <script src="{{ STATIC_URL }}js/begin.js"></script>

	</body>
  </html>
