{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Heart Health" %}{% endblock %}
{% block content %}
<h3>{% trans "Over 2,000,000 Heart Attacks and Strokes Occur Each Year in the US" %} </h3>
<p>{% trans "Heart disease and stroke are an epidemic in the United States today. However, many of the major risk factors for these conditions can be prevented and controlled." %}
<h3>{% trans "Heart Health Can Identify Your Risk of Cardiovascular Disease" %}</h3>
<p>{% trans "It is extremely important for Americans to understand their risk of cardiovascular disease so that they can take action to prevent it. The" %} <a href="http://millionhearts.hhs.gov/" target="_blank">Million Hearts™</a> {% trans "campaign is a national initiative to prevent 1 million heart attacks and strokes over five years. As part of the initiative, this application has been granted access to use the" %} <a href="http://archimedesmodel.com/indigo" target="_blank"> Archimedes Indigo Platform </a> {% trans "to calculate individualized risk. This platform has never before been made available to the general public. It has previously only been accessed by health care professionals." %}</p>
<h3>{% trans "Get Easy to Understand Results and Individualized Risk Analysis" %}</h3>
<p> {% trans "Just by answering a few simple questions, this assessment can give you a good sense of your risk right up front. After this initial assessment, Heart Health can help you find testing facilities to collect additional data to get a more accurate picture of your cardiovascular disease risk. This is important. If we're going to prevent one million heart attacks and strokes in five years, we need your help. Let's get started!" %}</p>
<div class="span6 offset3 margin-top-15">
    <button class="btn btn-large btn-block btn-danger" style="margin-bottom: 20px;" type="button" onclick="beginNoLogin()"> {% trans "Begin the Assessment!" %} </button>
</div>
{% endblock %}

{% block jsinclude %}
<script type="text/javascript"> 
   var isUserLoggedIn = ('{{ user.is_authenticated }}' == 'True');
   </script>
<script src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}
