{% extends "base.html" %}
{% load humanize %}

{% block title %}Find a Screening Location{% endblock %}
{% block cssinclude %}
<link href="{{ STATIC_URL }}css/locate.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 class="center-text header-border">Find a Screening Location Near You</h2>
<div class="row-fluid">
    <div id="map-section" class="span7">
        <h4> Search: </h4>
        <form id="address-search-form" class="form-search">
            <div id="search-alert" class="alert alert-error span11 hidden">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h5>We're sorry!</h5>
                <div id="search-alert-text">
                </div>
            </div>
            <div class="span11">
                <button id="locate-button" class="btn span4" type="button" onclick="setLocationIfAvailable()"><i class="icon-globe"></i> Find Me</button>
                <div id="location-search" class="input-append span8 hidden-phone">
                    <input class="search-query span10 address-input" autocomplete="off" type="text" placeholder="Enter an Address">
                    <button id="search-button" onclick="searchAddress()" type="button" class="btn"><i class="icon-search"></i></button>
                </div>
            </div>
            <div class="row-fluid span12 visible-phone">
                <div>
                    <input class="address-input" style="width: 100%;" autocomplete="off" type="text" placeholder="Enter an Address">
                    <button id="search-button span4" onclick="searchAddress()" type="button" class="btn"><i class="icon-search"></i></button>
                </div>
            </div>

        </form>

        <div id="map_canvas_container" class="span11" style="height: 400px;">
            <div id="map_canvas" class="margin-top-10" style="height: 100%; width: 100%;"></div>
        </div>
    </div>
    <div id="address-section" class="span5">
        <h4> Locations Near You: </h4>
        <div class="row-fluid"><button id="preferred-button" class="btn centered-span" style="margin-bottom: 5px;" onclick="viewPreferred()">View My Preferred Location</button></div>
        <div id="address-section-content">
            <div id="loading-spinner" class="loading-spinner-locate hidden loading-spinner-large"><img src="{{ STATIC_URL }}img/large-spinner.gif"></img> </div>
            <div id="locations-error" class="alert alert-error span12 hidden">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <div id="locations-error-text">
                </div>
            </div>
            <div id="results-container">
            </div>
            <div id="locations-noresults-alert" class="alert alert-warn hidden span12">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h5> No Locations Found </h5>
                We're sorry, there were no locations found near you. Would you like to try expanding your search radius? 
                <br/>
                <select id="search-radius-select" name="search-radius" class="radius-select">
                    <option name="2" value="2.0" selected="true">2 Miles</option>
                    <option name="5" value="5.0">5 Miles</option>
                    <option name="10" value="10.0">10 Miles</option>
                    <option name="15" value="15.0">15 Miles</option>
                    <option name="20" value="20.0">20 Miles</option>
                    <option name="30" value="30.0">30 Miles</option>
                    <option name="50" value="50.0">50 Miles</option>
                </select>
                <button class="btn" onclick="searchNewRadiusNoLocations()"> Search Again </button>
            </div>
            <div id="locations-newradius" class="hidden span12">
                <h5> Change Search Radius? </h5>
                <select id="search-radius-select-normal" name="search-radius" class="radius-select">
                    <option name="2" value="2.0" selected="true">2 Miles</option>
                    <option name="5" value="5.0">5 Miles</option>
                    <option name="10" value="10.0">10 Miles</option>
                    <option name="15" value="15.0">15 Miles</option>
                    <option name="20" value="20.0">20 Miles</option>
                    <option name="30" value="30.0">30 Miles</option>
                    <option name="50" value="50.0">50 Miles</option>
                </select>
                <button id="new-radius-search" class="btn" onclick="searchNewRadiusNormal()"> Search Again </button>
            </div>
        </div>
    </div>

<div class="modal hide fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="Warning" aria-hidden="true">
   <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3>Set Your Preferred Location</h3>
    </div>
   <div class="modal-body">
        <div id="preferred-save-error" class="hidden alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h5>We're sorry!</h5>
            An error has occurred saving your preferred location. Please try again. You may need to enable location tracking in your browser.
        </div>
        <p> If this is the most convenient location for you, mark it as your preferred location here. This will allow you to return later to the application (if you have <a href="/login/" target="_blank">logged in</a>) and view your chosen location. If you have enabled email notifications, we can send you a helpful reminder including information about this location.</p>
        <h4>Your Preferred Location: </h4>
        <div id="choose-modal-address">
        </div>
        <a id="directions-button" class="btn btn-danger" href="#" target="_blank">Get Directions!</a>
        <h4> At the Testing Location </h4>
        <p> Head to the testing location at your earliest convenience and ask to have both a cholesterol and blood pressure screening test done. Consider calling ahead to ask if there is a wait.</p>
        <h4> After The Screening Test </h4>
        <p> After you have the screening test done and obtain your results, make sure to return back to Heart Health and <a href="/assess/bio/" target="_blank">enter this information</a>. With this additional information, we can give you a complete and accurate assessment of your risk of having a heart attack or stroke in the next five years</p>
   </div>
   <div class="modal-footer">
       <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
       <button id="btn-save-preferred" autocomplete="off" class="btn btn-danger" data-loading-text="Saving..." onClick="savePreferredLocation()">Save This Location</button>
   </div>
 </div>

{% endblock %}
{% block jsinclude %}
<script type="text/javascript">
    var greenMarkerPath = '{{ STATIC_URL }}img/green-marker.png';
    var preferredProvider;
    {% if user.userprofile.preferred_location %}
    preferredProvider = JSON.parse('{{ user.userprofile.preferred_location.get_as_provider_json|safe }}');
    {% endif %}
</script>
<script src="{{ STATIC_URL }}js/locate.js"></script>
<script src="{{ STATIC_URL }}js/modal-responsive-fix.min.js"></script>
{% endblock %}
