{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Log In{% endblock %}

{% block content %}
<h3 class="center-text">Log In With a Registered Email Address</h3>
<p class="center-text">Enter your email address and password to return to your saved assessment and/or results. </p>
<div class="row-fluid">
    <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
    <div class="span4 centered-span centered-form-stretch">
    {{ form|as_bootstrap }}
        <div class="actions">
           <button class="btn btn-large btn-danger" type="submit" value="Log in">Log In </button>
           <p class="margin-top-15"><a href="/register/"> Click here to register for free.</a></p>
           <p class="margin-top-15"><a href="/assess/basic/"> Skip this step. I just want to take the assessment without saving anything.</a></p>
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block jsinclude %} 
<script src="{{ STATIC_URL }}js/login.js"></script>
{% endblock %}
