{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{% trans 'Password Reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h2 class="center-text header-border">{% trans 'Enter New Password' %}</h2>

<p class="center-text">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
	{% csrf_token %}
    <div class="span4 centered-span centered-form-stretch">
        {{ form|as_bootstrap }}
        <div class="actions">
            <button class="btn btn-large btn-danger" type="submit" value="{% trans 'Change my password' %}">Change My Password</button>
        </div>
</form>

{% else %}

<h2 class="center-text header-border">{% trans 'Password Reset Unsuccessful' %}</h2>

<p class="center-text">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
