{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}

<h1 class="center-text">{% trans 'Password change' %}</h1>

<p class="center-text">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
    <div class="span4 centered-span centered-span-form-stretch">
        {{ form|as_bootstrap }}
        <div class="actions">
            <p><button class="btn btn-large btn-danger" type="submit" value="{% trans 'Change my password' %}">Change My Password</button></p>
        </div>
</form>

{% endblock %}

