{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h2 class="center-text header-border">{% trans "Password Reset" %}</h2>

<p class="center-text">{% trans "Did you forget your password? Please enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">
    <div class="span4 centered-span centered-form-stretch">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="actions">
            <button class="btn btn-large btn-danger" type="submit" value="{% trans 'Reset my password' %}">Reset My Password</button>
        </div>
    </div>
</form>

{% endblock %}
