{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block title %} Register To Use Heart Health {% endblock %}

{% block content %}
<h3 class="center-text">Register Using Just Your Email Address</h3>
<p class="center-text"> Please consider registering below using just your email address, although this is not required. This will allow you to save your input to return to the assessment or your results at any time. </p>
<div class="row-fluid">
    <form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
    <div class="span4 centered-span centered-form-stretch">
    {{ form|as_bootstrap }}
        <div class="actions">
           <button class="btn btn-large btn-danger" type="submit" value="Register">Register</button>
           <p class="margin-top-15"><a href="/login/"> I have already registered and I would like to log in.</a></p>
           <p class="margin-top-15"><a href="/begin/"> Skip this step. I just want to take the assessment without saving anything.</a></p>
        </div>
    </div>
    </form>
</div>
{% endblock %}

