.title-heart-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

.margin-top-15 {
    margin-top: 15px;
}

body {
    margin-top: 35px;
}

.button-space-after {
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
}

.centered-form-stretch input {
    width: 100% !important;
}

.centered-form-stretch button {
    width: 50% !important;
}

.centered-span {
    margin: 0 auto !important;
    float: none !important;
}

@media (max-width: 767px) {
    .btn {
        width: 100% !important;
    }
    input {
        width: 100% !important;
    }
}
