.title-heart-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

.title-text {
    color: #333333 !important;
    text-decoration: none !important;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-after-15 {
    margin-bottom: 15px !important;
}

#share-buttons {
    clear: both;
    margin-top: 25px !important;
}

#share-buttons span {
    float: left;
}

#share-text {
    float: left;
    clear: left;
    margin-top: 10px;
}

body {
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

.center-text {
    text-align: center;
}

.loading-spinner-large {
    width: 100px !important;
}

.centered-form-stretch input:not([type="checkbox"]) {
    width: 95% !important;
}

.centered-form-stretch-not-button input:not([type="checkbox"]) {
    width: 95% !important;
}

.centered-form-stretch-not-button select {
    width: 100% !important;
}

.centered-span {
    margin: 0 auto !important;
    float: none !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.button-space-after {
    margin-bottom: 10px;
}

.blue-link {
    color: #0733E2;
}

.muted {
      color: #999999;
}

.text-warning {
      color: #c09853;
}

.text-error {
      color: #b94a48;
}

.text-info {
      color: #3a87ad;
}

.text-success {
      color: #468847;
}

.hidden {
    display: none !important;
}

.results-category-header {
    float: left;
    margin-right: 10px;
}

.header-border {
    padding-bottom: 6px;
    border-bottom: 1px solid #CCCCCC;
}

.upper-rating {
    float: left;
}

#contact-link {
        float: right;
        margin-top: 10px;
}

#contact-link form, #contact-link a {
    float: right;
    margin-right: 5px;
}

.selected-rating-level {
    font-size: 30px;
}

.alert h4 {
    margin-bottom: 8px;
}


/* Landscape phones and down */
@media (max-width: 480px) {

    .full-stretch-on-phone {
        width: 100% !important;
    }

    .margin-top-10-phone {
        margin-top: 10px;
    }

    .user-dropdown {
        margin-top: 5px;
        margin-bottom: 10px;   
    }
    
    .title-heart-image {
        width: 40px;
        height: 40px;
        margin-bottom: 2px;
    }

    h1 {
        font-size: 24px;
        line-height: 20px;
    }
    h2 {
        font-size: 18px;
        line-height: 20px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    #contact-link {
        float: left;
        margin-top: 10px;
    }

    #share-buttons span {
        margin-bottom: 5px;
    }

    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    #mainwell {
        padding-left: 5px;
        padding-right: 5px;
    }

    input[type="checkbox"] {
        width: auto !important;
    }

    .nav {
        margin-bottom: 0px;
    }

    .mobile-title {
        padding-bottom: 6px;
        border-bottom: 1px solid #CCCCCC;
    }

    .selected-rating-level {
        font-size: 20px;
    }

    .clear-phone {
        clear: left;
    }

    .upper-rating {
        float: none;
    }

    #locate-button {
        width: 100% !important;
        margin-bottom: 10px;
    }

    #address-section-content {
        height: auto !important;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .btn:not(#search-button) {
        width: 100% !important;
    }
    input {
        width: 95% !important;
    }
    .full-stretch-on-phone {
        width: 100% !important;
    }

    #contact-link {
        float: left;
        margin-top: 10px;
    }

    .user-dropdown {
        margin-bottom: 10px;   
    }


    #locate-button {
        width: 100% !important;
        margin-bottom: 10px;
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .centered-form-stretch button {
        width: 35% !important;
    }

    .btn:not(#search-button) {
        width: 100% !important;
    }

    input {
        width: 95% !important;
    }

    .user-dropdown {
        margin-bottom: 10px;   
    }

    #locate-button {
        width: 100% !important;
        margin-bottom: 10px;
    }

    #location-search {
        width: 90%;
        margin-left: 0px;
    }

    #map-section {
        margin-bottom: 20px;
    }

    #contact-link {
        float: left;
        margin-top: 10px;
    }

    #user-dropdown-container {
        margin-top: 5px;
        margin-bottom: 10px;   
        width: 95% !important;
    }

    header {
        width: 100% !important;
    }

    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    #mainwell {
        padding-left: 5px;
        padding-right: 5px;
        width: 95%;
    }

}

/* Large desktop */
@media (min-width: 1200px) {
    #testing-warning {
        width: 100%;
    }

    .user-dropdown {
        float: right !important;
    }
}



