.title-heart-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

.margin-top-15 {
    margin-top: 15px;
}

body {
    margin-top: 35px;
}

.button-space-after {
    margin-bottom: 10px;
}

.center-text {
    text-align: center;
}

.centered-form-stretch input {
    width: 100% !important;
}

.centered-form-stretch-not-button input, select {
    width: 100% !important;
}

.centered-span {
    margin: 0 auto !important;
    float: none !important;
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .btn {
        width: 100% !important;
    }
    input {
        width: 100% !important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .centered-form-stretch button {
        width: 35% !important;
    }

    .btn {
        width: 100% !important;
    }

    input {
        width: 100% !important;
    }

}

/* Large desktop */
@media (min-width: 1200px) {

}



